.nav {
    background-color: #04265c;
    color: white;
    padding: 1.6em;
    font-family: 'Montserrat', sans-serif;
}

.general {
    display: flex;
    justify-content: center;
    align-items: center;    
}

.sub {
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.title {
    font-size: 1.3em;
}

.bttnInside {
    background-color: #4f5054;
    color: white;
    border: none;
    height: 3em;
    width: 12em;
    letter-spacing: 0.2em;
}