.nav_container {
    background-color: var(--color-base);
    color: var(--color-soft);
    font-family: var(--font-title);
    font-size: x-large;
    display: flex;
    justify-content: start;
    align-items: center;
    padding-left: 1.4rem;
    height: 5rem;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

